@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: hsl(37, 100%, 92%);
  --logo: hsl(208, 100%, 35%);
  --card: hsl(37, 100%, 82%);
  --card-title: #000;
  --card-select-bg: hsl(37, 87%, 55%);
  --species-bg: hsl(37, 87%, 55%);
  --species-open-bg: hsl(37, 87%, 55%);

  --accent: hsl(208, 100%, 35%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  empty-cells: show;
}

#about p {
  padding: 8px 0px;
}

#about ul {
  list-style: disc;
  margin-left: 24px;
}

#about li {
  padding: 8px;
}
