@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #9a0016;
  --pink: #ffcbb6;
  --blue: #00a0b5;
  --mid: #fff2df;
  --dim: #bc8974;

  background-color: #fffdf8;
  color: #280d00;

  --logo: var(--blue);
  --card: var(--mid);
  --card-select-bg: var(--pink);
  --species-bg: var(--pink);
  --species-open-bg: var(--pink);
  --species-scales: var(--pink);
  --species-text: var(--red);
  --scale-highlight: transparent;

  --accent: var(--blue);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  empty-cells: show;
}

#about p {
  padding: 8px 0px;
}

#about ul {
  list-style: disc;
  margin-left: 24px;
}

#about li {
  padding: 8px;
}
