@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #ffaf8d;
  --blue: #0083b1;
  background-color: #ffefda;
  --logo: var(--blue);
  --card: #ffdcb5;
  --card-title: #000;
  --card-select-bg: var(--pink);
  --species-bg: var(--pink);
  --species-open-bg: var(--pink);

  --accent: var(--blue);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  empty-cells: show;
}

#about p {
  padding: 8px 0px;
}

#about ul {
  list-style: disc;
  margin-left: 24px;
}

#about li {
  padding: 8px;
}
